.room-container {
  border: 5px solid #e7e7e7;
  border-radius: 5px;
  background: #DBDBE3;
}

.room-container.active {
  background: #ffffff;
}

.room-container h4 {
  background-color: #e7e7e7;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}

.room-container h4 input {
  margin: auto 5px;
}

.room-container label {
  font-size: 16px;
  margin-bottom: 2px;
}
