.mobile-container {
  width: 320px;
  background-image: url("../../assets/background.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  margin: 0 auto;
}

.mobile-container .header {
  background-color: #1C1C1C;
  height: 44px;
  margin-bottom: 15px;
}

.mobile-container .header button {
  color: #ffffff;
  background: #282828; /* Old browsers */
  background: -moz-linear-gradient(top, #282828 0%, #171717 50%, #030303 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #282828 0%,#171717 50%,#030303 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #282828 0%,#171717 50%,#030303 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#030303',GradientType=0 ); /* IE6-9 */
  border: 1px solid #2E2E2E;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 5px;
  margin-left: 10px;
}

.mobile-container .header h4 {
  color: #fff;
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}

.mobile-container .details h5 {
  color: #ffffff;
  margin: 15px 0 5px 20px;
  font-size: 16px;
  font-weight: bold;
}

.mobile-container .details p {
  color: #9AB7D2;
  margin: 0 0 0 20px;
  font-weight: bold;
  font-size: 12px;
}

.mobile-container .details a {
  color: #ffffff;
  margin-left: 20px;
  font-size: 14px;
  text-decoration: underline;
}

.mobile-container .nav-mobile {
  margin-top: 15px;
}

.mobile-container .nav-mobile ul {
  padding: 0 20px;
  list-style: none;
}

.mobile-container .nav-mobile ul li {
  color: #031628;
  height: 45px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  padding: 0 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8ebee+0,d3dbe3+50,c3d0dc+100 */
  background: #e8ebee; /* Old browsers */
  background: -moz-linear-gradient(top, #e8ebee 0%, #d3dbe3 50%, #c3d0dc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e8ebee 0%,#d3dbe3 50%,#c3d0dc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e8ebee 0%,#d3dbe3 50%,#c3d0dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ebee', endColorstr='#c3d0dc',GradientType=0 ); /* IE6-9 */
}

.mobile-container .nav-mobile ul li:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.logo {
  width: 24px;
  margin-right: 10px;
}

.hiltonexterior {
  position: relative;
  width: 280px;
  margin: 0 auto;
  display: block;
  border: 3px solid #ffffff;
}